.center {
	text-align: center;
	background-image: url("film_festival_parc_shutterstock_220181725.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 25px;
	color: white;
	margin-bottom:20px;
	padding-top: 25px;
	padding-bottom: 50px;
	}
	
.a {
    color:white !important;
	font-weight:bold;
	font-size:20px;
	}

#headline {
	padding-bottom: 274px;
	font-family: 'Galada', cursive;
	
}

.navbar {
	background-color: rgb(9, 102, 160);
	border-color: rgb(9, 102, 160);
	border-radius:0px;
}


body {
	margin:0px;
	background-image: url("movie.jpg");
}

#register{
	padding-right:20px;
}

.btn {
	margin-top:60px;
	margin-bottom:37px;
}

.about {
	background: rgba(9, 102, 160, 1);
	border-radius: 25px;
	padding-top: 30px;
	padding-bottom: 100px;
	font-size:1.5em;
	color:white;
	margin-top:120px;
	margin-bottom:100px;
}

.abb {
	font-family: 'Heebo', sans-serif;
}

#about {
	text-align:center;
}
.social {
	background-color: white;
	width:185px;
	margin: 0 auto;
	margin-top: 80px;
	border-radius:25px;
}

.fa {
	padding: 15px 20px;
}

.thumbnail img {
	width: 100%;
}

#listings {
	color: rgb(234, 237, 242);
	Text-align: center;
	padding: 10px;
	margin-top: 38px;
	margin-bottom: 8px;
	font-family: 'Patua One', cursive;
	
}

#afive {
	background: rgba(9, 102, 160, 1);
	color: rgb(234, 237, 242);
	text-align:center;
	padding: 10px;
	border-radius: 25px;
	margin-bottom: 31px;
	font-family: 'Patua One', cursive;
}

#asix {
	padding:10px;
	background: rgba(9, 102, 160, 1);
	color: rgb(234, 237, 242);
	text-align:center;
	border-radius: 25px;
	margin-bottom: 56px;
	margin-top:40px;
	font-family: 'Patua One', cursive;
}

#aseven {
	padding:10px;
	background: rgba(9, 102, 160, 1);
	color: rgb(234, 237, 242);
	text-align:center;
	border-radius: 25px;
	margin-bottom: 57px;
	margin-top:40px;
	font-family: 'Patua One', cursive;
}

#aeight {
	padding:10px;
	background: rgba(9, 102, 160, 1);
	color: rgb(234, 237, 242);
	text-align:center;
	border-radius: 25px;
	margin-bottom: 56px;
	margin-top:40px;
	font-family: 'Patua One', cursive;
}
#news {
	background: rgba(9, 102, 160, 1);
	padding-top:25px;
	padding-bottom:100px;
	border-radius:25px;
	color: white;
	text-align: center;
	margin-top:200px;
	font-size:1.5em;
}

.navbar-header{
    text-align:center;
}

.navbar-toggle {
    float: none;
    margin-right:0;
}

.register {
	background: rgba(9, 102, 160, 1);
	border-radius:25px;
	color: white;
	margin-top: 300px;
}

#pre {
	text-align: center;
	margin-bottom: 50px;
}

.ann {
    font-family: 'Patua One', cursive;
}

.caption {
	font-family: 'Vollkorn', serif;
}

.foot {
	color:rgb(234, 237, 242);
	text-align: center;
}

/*#info {
	color:white;
	text-align:center;
}*/
	
	



	